// Variable overrides
// Font default
$font-family-base: 'Poppins',
sans-serif !default;
// Ukuran font
$font-size-base: 0.875rem !default; // 14px
// $font-size-lg: 1.125rem !default; // 18px

// Warna primer
$primary: #0d6efd !default;

// Radius
// $border-radius: 0.5rem !default;
// $btn-border-radius: 0.5rem !default;