/* Bootstrap dan CoreUI */
@import 'bootstrap/dist/css/bootstrap.min.css';
@import '@coreui/coreui/dist/css/coreui.min.css';

/* FontAwesome */
@import '@fortawesome/fontawesome-free/css/all.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

/* DataTables dan Select2 */
@import 'datatables.net-bs5/css/dataTables.bootstrap5.min.css';
@import 'select2/dist/css/select2.min.css';

.body {
    margin-left: 250px;

    font-family: 'Poppins', sans-serif;
    font-size: small
}

@media (max-width: 991.98px) {
    .body {
        margin-left: 0;
    }
}

header.header-fixed {
    z-index: 1001;
}

@media (min-width: 768px) {
    header.header-fixed {
        margin-left: 250px;
        width: calc(100% - 250px);

        body:not(.sidebar-collapsed) header.header-fixed {
            margin-left: 250px;
            width: calc(100% - 250px);
        }

        body:not(.sidebar-collapsed) .wrapper {
            margin-left: 250px;
        }

        body.sidebar-collapsed header.header-fixed,
        body.sidebar-collapsed .wrapper {
            margin-left: 60px;
            width: calc(100% - 60px);
        }
    }
}